<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password - Quickpark</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <img src="https://static.vecteezy.com/system/resources/previews/000/623/239/original/auto-car-logo-template-vector-icon.jpg" alt="Image" id="upper-right-image">
</head>
<body>
    <div class="background-image-container"></div>
    <div class="container">
        <form action="{{ url_for('reset_password') }}" method="post">
            <h2>Reset Password</h2>

            <label for="validation_code">Enter Validation Code:</label>
            <input type="text" id="validation_code" name="validation_code" required>

            <label for="new_password">New Password:</label>
            <input type="password" id="new_password" name="new_password" required>

            <label for="confirm_password">Confirm Password:</label>
            <input type="password" id="confirm_password" name="confirm_password" required>

            <input type="submit" value="Reset Password">
        </form>
    </div>
</body>
</html>